<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kategori Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let kat of kategori">
        <ion-card (click)="goToNewsList(kat.name)">
          <ion-card-content class="ion-text-center">
            <ion-icon [name]="kat.icon" size="large"></ion-icon>
            <h2>{{ kat.name }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>