<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Cari Berita</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-searchbar [(ngModel)]="search" placeholder="Cari berita..." (ionInput)="onSearchInput($event)">
    </ion-searchbar>
    <div *ngIf="search && search.length > 0">
        <ion-text color="medium">
            <p>{{ filteredNews.length }} hasil untuk "{{ search }}"</p>
        </ion-text>
        <div *ngIf="filteredNews.length === 0" class="ion-text-center ion-padding">
            <ion-icon name="search-outline" size="large"></ion-icon>
            <h3>Tidak ada hasil</h3>
            <p>Coba kata kunci lain</p>
        </div>
        <ion-list *ngIf="filteredNews.length > 0">
            <ion-item *ngFor="let berita of filteredNews" button (click)="goToBacaBerita(berita.id)">
                <ion-thumbnail slot="start">
                    <img *ngIf="berita.cover_path"
                        [src]="'https://ubaya.cloud/hybrid/160423191/project/' + berita.cover_path" />
                    <img *ngIf="!berita.cover_path" src="assets/no-image.png" />
                </ion-thumbnail>
                <ion-label>
                    <h2>{{ berita.title }}</h2>
                    <p>{{ limitWords(berita.description, 12) }}</p>
                    <ion-text color="medium">
                        <small>{{ berita.publishedDate | date:'dd MMM yyyy' }}</small>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>