.c-ml-1 {
    margin-left: 0.5rem;
}

.c-w-18 {
    width: 9rem;
}

.c-h-full {
    height: 100%;
}


.c-flex {
    display: flex;
}

.c-flex-center {
    justify-content: center;
    align-items: center;
}

.c-flex-col {
    flex-direction: column;
}

.c-align-center {
    align-items: center;
}

.c-justify-center {
    justify-content: center;
}

h1 {
    margin: 0;
}

.c-card-content {
    padding: 1rem 0.3rem;
}

.c-rank{
    margin-left: 1rem;
    margin-right: 1rem;
}

img{
    margin: 1rem 1rem 1rem 0;
}

.pointer{
    cursor: pointer;
}