<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kategori"></ion-back-button>
    </ion-buttons>
    <ion-title>Berita {{ kategori }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let berita of daftarBerita">
      <ion-card (click)="goToBacaBerita(berita.id)">
        <img
          [src]="berita.image" 
          alt="gambar berita"
        />
        <ion-card-header>
          <ion-card-title>{{berita.title}}</ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="star"></ion-icon>
            {{averageRating(berita.rating)}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{berita.description}}
        </ion-card-content>
        <ion-button fill="clear" (click)="goToBacaBerita(berita.id)">Baca selengkapnya ></ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
