<ion-content [fullscreen]="true" class="bg-primary">
  <ion-grid class="grid-center">
    <ion-row>
      <ion-col size="12" size-md="8" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center; font-weight: bold">Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-input
                label="Username:"
                placeholder="Enter your username"
                 [(ngModel)]="username"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="Password:"
                type="password"
                placeholder="Enter your password"
                [(ngModel)]="password"
              ></ion-input>
            </ion-item>
          </ion-card-content>

          <div class="ion-text-center" style="margin-bottom: 16px">
            <ion-button (click)="checkLogin()">Login</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
