<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-menu auto-hide="true" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Beranda</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/kategori">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Kategori Berita</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/login" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
