<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Favorite</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container" class="ion-padding">
        <ion-list *ngFor="let berita of daftarFavorit" lines="none" class="c-flex c-flex-center c-flex-col">
            <ion-item>
                <ion-card (click)="goToDetail(berita.id)">
                    <img *ngIf="berita.image?.length" [src]="berita.image[0].path.startsWith('http') ? berita.image[0].path : 'https://ubaya.cloud/hybrid/160423191/project/' + berita.image[0].path" alt="gambar berita" onerror="this.src='assets/no-image.png'" />
                    <ion-card-header>
                        <ion-card-title>{{ berita.title }}</ion-card-title>
                        <ion-card-subtitle>
                            <ion-icon name="star"></ion-icon>
                            {{ berita.avg_rating || 0 }}
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>

    <ion-text *ngIf="daftarFavorit.length === 0" color="medium">
        <p class="ion-text-center">Belum ada berita favorit 😢</p>
    </ion-text>
</ion-content>