<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Beranda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container" class="ion-padding">
        <ion-list lines="none">
            <ion-card *ngFor="let berita of daftarBerita" (click)="goToBacaBerita(berita.id)">
                <img *ngIf="berita.image?.length" [src]="berita.image[0]" class="c-img-full" alt="gambar berita" />
                <div class="c-pb-1">
                    <ion-card-header>
                        <ion-card-title>{{ berita.title }}</ion-card-title>
                        <div class="c-flex c-flex-center">
                            <ion-card-subtitle>
                                <ion-icon name="star"></ion-icon>
                                <ion-text class="c-ml-1">{{ averageRating(berita.rating) }}</ion-text>
                            </ion-card-subtitle>
                            <ion-card-subtitle class="c-flex c-flex-center c-ml-2">
                                <ion-icon name="eye-outline">
                                </ion-icon>
                                <ion-text class="c-ml-1">{{berita.jumlahView.length}}</ion-text>
                            </ion-card-subtitle>
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        {{ limitWords(berita.description, 20) }}
                    </ion-card-content>
                    <ion-button fill="clear" (click)="goToBacaBerita(berita.id)">
                        Baca selengkapnya >
                    </ion-button>
                </div>
            </ion-card>
        </ion-list>
    </div>
</ion-content>